body {
    width:100%;
}
.first-section1 {
    background-image: url("../images/coctail2.jpeg");
    background-repeat: no-repeat;
    width:100%;
    height:980px;
    color:white;
    font-family:arial;
}
.first-section1 h2 {
    position:relative;
    left:10%;
    top:20%;
    width:150px;
}
.first-section1 p {
    position:relative;
    left:10%;
    top:20%;
    width:150px;
}
.second-section2 {
    text-align:center;
    color:grey;
    font-family:'Times New Roman', Times, serif;
    font-size:22px;
    padding:5%;
}
.third-section3 {
    color:grey;
    width:100%;
    font-family:Verdana;
    padding:5%;
    padding-top:2%;
    text-align:center;
    font-size:18px;
}
h2 {
    color:#24BDC9;
}
.third-section3 ul li {
    width:500px;
    text-align:center;
    display:inline-block;
    margin:10px;
    padding:5px;
    line-height:22px;
    border-radius:20px;

}
.influencer-div {
    width:80%;
    margin:auto;
    text-align:center;
    padding-bottom:15px;
}
.contact-me {
    text-align:center;
}
.social-media-div {
    text-align:center;
    padding-top:20px;
    padding-bottom:120px;
}
.SM-icons  {
    color:grey;
}
.SM-icons:hover  {
    color:black;
}
#contact-me-heading {
    margin-bottom:0px !important;
}
@media only screen and (max-width: 1600px) {
    .first-section1 {
        width:100%;
        height:700px;
        background-size:cover;
    }
  }
  @media only screen and (max-width: 1000px) {
    .first-section1 {
        width:100%;
        height:600px;
        background-attachment:fixed;
     
    }
    .first-section1 h2 {
        position:relative;
        left:10%;
        top:30%;
        width:110px;
    }
    .first-section1 p {
        position:relative;
        left:10%;
        top:33%;

    }
  }
  @media only screen and (max-width: 600px) {
    .third-section3 ul li {
      width:100%;
    }
  }