* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display:none;
}
.show {
  display:block;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.faded {
  -webkit-animation-name: faded;
  -webkit-animation-duration: 1.5s;
  animation-name: faded;
  animation-duration: 1.5s;
}

.text {
    width:30%;
    height: 100px;
    position:absolute;
}
.text p {
    font-size:20px;
    
}
.text-div {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 65%;
}
.collection  p{
  font-family: Poppins-Regular;
  font-size: 35px;
  color: white;
  line-height: 1.2857;
  margin-bottom: 20px;
}

.center p {
  font-family: unset;
  font-size: 45px;
  color: white;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.ml16 {
  font-family: Poppins-Regular;
  font-size: 35px;
  color: white;
  line-height: 1.2857;
  margin-bottom: 20px;
  overflow: hidden;
}

.ml16 .letter {
  line-height: 1em;
}
.ml2 {
  font-family: Poppins-Regular;
  font-size: 35px;
  color: white;
  line-height: 1.2857;
  margin-bottom: 20px;
}
.ml2 .letter {
  line-height: 1em;
}
.ml15 {
 font-family: unset;
  font-size: 45px;
  color: white;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.ml15 .word {
  line-height: 1em;
}






.a-button {
  text-transform: uppercase;
  font-family: monospace;
  width: 125px;
  border: none;
  color: white;
  background-color: hotpink;
  height: 50px;
  outline:none !important;
  font-size: 23px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.a-button:active {
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) backwards;
    animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) backwards;
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@-webkit-keyframes faded {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes faded {
  from {opacity: .4} 
  to {opacity: 1}
}
 /* Instagram */
 
















 @media only screen and (max-width: 1200px) {
      .collection p {
        font-size: 28px;
      }
      .center p {
        font-size: 35px;
      }

 
}
 @media only screen and (max-width: 900px) {
  .collection p {
    font-size: 25px;
  }
  .center p {
    font-size: 25px;
  }
  .a-button {
    width: 118px;
    height: 39px;
  }
 }
@media only screen and (max-width: 600px) {
  .collection p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .center p {
    font-size: 17px;
  }
  .a-button {
    width: 87px;
    height: 31px;
    font-size: 12px;
  }
  .text-div {
    top: 43%;
  }
}





/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {font-size: 11px}
}