.section-4-imgWrapper>img , .section-5-imgWrapper>img {
    display: inline-block;
    width: 30%;
}
.section-title {
  color: #24BDC9 !important;
}
a:hover {
  color:#24BDC9 !important;
}
.section-4-imgWrapper, .section-5-imgWrapper {
    width:100%;/* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    display: inline-block;
  }
  
  /* [2] Transition property for smooth transformation of images */
  .section-4-imgWrapper > img, .section-5-imgWrapper > img {
    transition: transform .5s ease;
    display: inline-block;
    margin-top:5px;
  }
  /* [3] Finally, transforming the image when container gets hovered */
  .section-4-imgWrapper > img:hover, .section-5-imgWrapper > img:hover {
    transform: scale(1.1);
  }
  .videoWrapper{
    position: relative;
	padding-bottom:49%;; /* 16:9 */
	padding-top: 0;
	height: 0;
  }
  .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tile {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgZoomWrapper{
  height: 100%;
}
.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.align-items-center {
  display: flex; 
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}
.qrButton{
  margin:auto;
  width:80px;
  height:80px;
}
#qrBtn:active {
cursor: pointer;
}
@media only screen and  (max-width: 1200px) {
  .section-7, .section-5, .section-4 {
    padding: 5em 0; 
  } 
  .section-5-imgWrapper {
    height:600px;
  }
}
@media only screen and  (max-width: 900px) {
 
  .section-5-imgWrapper {
    height:400px;
  }
}