.gallery-section {
    width:100%;
    display:block;
    background:gray;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}
.galleryImg-div {
display:inline-block
}
.galleryImg {
    width:100%;
    height:100%;
}
  .gallery-section:after {
    content: "";
    display: table;
    clear: both;
  }
  /* The Modal (background) */
  .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  /* Modal Content */
  .modal-content1 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  } 
  /* The Close Button */
  .close1 {
    float: right;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1;
    color: green;
    position: relative;
    right: 30px;
    text-shadow: 0 1px 0 #fff;
    z-index:998;
  }
  .close1:hover,
  .close1:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  /* Hide the slides by default */
  .mySlides1 {
    display: none;
  }
  /* Next & previous buttons */
  .prev1,
  .next1 {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .prev1 {
    left:0;
  }
  /* Position the "next button" to the right */
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover,
  .next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } 
  /* Number text (1/3 etc) */
  .numbertext1 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* Caption text */
  .caption-container1 {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  img.demo1 {
    opacity: 0.6;
  }
  .active1,
  .demo1:hover {
    opacity: 1;
  }
  img.hover-shadow1 {
    transition: 0.3s;
  }
  .hover-shadow1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .galleryImg-div:hover {
    color:black;
    opacity:0.6;
  }
  .section-title {
    margin:20px;
  }
  .description-div {
    border: 1px solid gray;
    position: relative;
    background: gold;
    color: black;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px;
    line-height: 18px;
    margin-left: -56px;
    margin-top: 5px;
  }
 .slika-neuba {
  width: 80%;
  margin: auto;
  opacity: 0;
  z-index:999;
 }
.js-sticky-header {
   z-index:998;
 }
 @media (max-width:800px){
  
  .plus {
    width:19px;
    height:19px;
  }

  .plus p {
    line-height:18px;
  }
  .description-div {
    font-size:13px;
    line-height:16px;
  }
 }
