.coctail {
    position: absolute;
    padding-top: 20%;
    padding-left: 15%;
}
.coctail-title p {
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
}
.coctail-text p {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}
.feature-image {
    width: 100%;
}
.feature-image img {
    width: 100%;
}
.description-div {
    border:1px solid gray;
    width:150px;
    position:relative;
    background:black;
    color:white;
    font-size:14px;
    border-radius:10px;
    padding:2px;
    line-height:20px;
    display:none;
    z-index:99999999999999999999999999999999999999999999999999999999999999;
}
.plus {
  height: 25px;
  width: 25px;
  background-color: #24BDC9;
  border-radius: 50%;
  position: absolute;
}
.plus p {
    color: white;
    text-align: center;
    line-height:21px;
    margin:0;
}
.all-elements {
    width: 75%;
    margin: auto;
    position: relative;
}

.a {
    top: 68%;
    left: 25%;
}
.b {
    top: 20%;
    left: 36%; 
}
.c {
    top: 4%;
    left: 60%;  
}   
.d {
    top: 77%;
    left: 70%;
}    
.e {
    top: 30%;
    left: 47%;  
}   
.f {
    top: 64%;
    left: 60%;
} 
.video {
    width:100%;
    margin-top: 40px;
}
.video-edit {
    width: 100%;
    margin: auto;
}
.video-edit iframe {
    width: 100%;
    height: 95vh;
}
.purchase {
    width: 100%;
    padding-top: 6%;
}
.all-purchase {
    width: 80%;
    height: 70vh;
    margin: auto;
}
.photo-purchase {
    margin:0;
    padding:0;
}
.photo-purchase img {
    width: 100%;   
}
.photo-purchase:hover {
    opacity: 0.7;
    cursor: pointer;
}
.remove {
    margin-right: 0;
    margin-left: 0;
}
.text-purchase {
    width:50%;
    float:left;
    padding-top: 5%;
}
.text-purchase p {
    font-size: 24px;
    width: 70%;
   
    margin: auto;
    line-height: 28px;
    font-family: inherit;
    color:black;
}
.button-purchase {
    width: 100%;
    padding: 10%;

}
.button-purchase button {
    text-transform: uppercase;
    font-family: arial;
    border: none;
    color: white;
    background-color: #24BDC9;
    outline:none;
    font-size: 16px;
    border-radius: 30px;
    padding: 8px 30px;
}
.button-purchase:active {
    -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) backwards;
    animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) backwards;
}
.animated p{
    font-size: 35px;
    text-transform: uppercase;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 20px;
    line-height: 35px;
    animation-duration: 2s;
  animation-name: bounceIn;
}
.ml12 {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .ml13 {
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }



@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-10-3 13:53:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
.icons1 {
    position: absolute;
    height: 100%;
    width: 60%;
    margin: auto;
    width: 100%;
    background: url(../images/coctail2.jpg);
    background-repeat: no-repeat;
    background-size: 83%;
    background-position: center;
    z-index: 1;
}
@media (max-width: 700px) { 
    .coctail-title p {
        font-size: 24px;
        line-height: 25px;
    }
    .coctail-text p {
        font-size: 18px;
        line-height: 15px;
    }
 }
@media (min-width: 701px) and (max-width: 950px) { 
    .coctail-title p {
        font-size: 40px;
        line-height: 32px;
    }
    .coctail-text p {
        font-size: 18px;
        line-height: 25px;
    }
    .coctail {
        padding-top: 13%;
        padding-left: 8%;
    }
 }
 @media (min-width: 1200px) { 
    .video-edit iframe {
        height: 820px;
    }
 }


