/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import '../css/bootstrap.min.css';
@import '../css/classy-nav.min.css';
@import '../css/owl.carousel.css';
@import '../css/animate.css';
@import '../css/magnific-popup.css';
@import '../css/jquery-ui.min.css';
@import '../css/nice-select.css';
@import '../css/font-awesome.min.css';


/* :: 15.0 Blog Area CSS */

.blog-wrapper {
    position: relative;
    z-index: 1;
    .single-blog-area {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        @include trans-duration(500ms);
        overflow: hidden;
        img {
            width: 100%;
            @include trans-duration(500ms);
        }
        .post-title {
            @include trans-duration(500ms);
            background-color: $white-color;
            padding: 20px 40px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 85%;
            height: auto;
            z-index: 10;
            @media #{$breakpoint-xs} {
                padding: 20px;
            }
            a {
                display: block;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5;
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
                @media #{$breakpoint-sm} {
                    font-size: 18px;
                }
            }
        }
        .hover-content {
            @include trans-duration(500ms);
            background-color: $white-color;
            background-color: $white-color;
            padding: 20px 40px;
            position: absolute;
            width: 85%;
            height: 100%;
            z-index: 100;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @media #{$breakpoint-lg} {
                padding: 20px;
            }
            @media #{$breakpoint-xs} {
                padding: 20px;
            }
            .hover-post-title {
                a {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.5;
                    margin-bottom: 20px;
                    @media #{$breakpoint-lg} {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    @media #{$breakpoint-sm} {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                    &:hover {
                        color: $bg-default;
                    }
                }
            }
            p {
                @media #{$breakpoint-xs} {
                    display: none;
                }
                @media #{$breakpoint-xs-landscape} {
                    display: block;
                    font-size: 14px;
                    line-height: 1.7;
                }
            }
            > a {
                display: block;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 0;
                color: $bg-default;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                margin-top: 50px;
                @media #{$breakpoint-lg} {
                    margin-top: 15px;
                }
                @media #{$breakpoint-xs} {
                    margin-top: 30px;
                }
            }
        }
        &:hover,
        &:focus {
            .hover-content {
                opacity: 1;
                visibility: visible;
            }
            img {
                @include transform(scale(1.1));
            }
        }
    }
}

.single-blog-wrapper {
    position: relative;
    z-index: 1;
    .single-blog-content-wrapper {
        position: relative;
        z-index: 1;
        @include flex-wrap(wrap);
        .single-blog--text {
            @include flex(0 0 75%);
            max-width: 75%;
            width: 75%;
            padding: 70px 7%;
            @media #{$breakpoint-lg} {
                @include flex(0 0 65%);
                max-width: 65%;
                width: 65%;
            }
            @media #{$breakpoint-md} {
                @include flex(0 0 60%);
                max-width: 60%;
                width: 60%;
            }
            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                max-width: 100%;
                width: 100%;
            }
            h2 {
                font-size: 30px;
                line-height: 1.5;
                margin-bottom: 50px;
                @media #{$breakpoint-lg} {
                    font-size: 24px;
                    margin-bottom: 30px;
                }
                @media #{$breakpoint-md} {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                @media #{$breakpoint-sm} {
                    font-size: 24px;
                }
            }
            p {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 50px;
                @media #{$breakpoint-md} {
                    font-size: 16px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
            }
            blockquote {
                margin-bottom: 50px;
                h6 {
                    font-size: 18px;
                    line-height: 2;
                    @include display-flex(flex);
                    i {
                        margin-right: 30px;
                        font-size: 30px;
                        color: $bg-default;
                    }
                }
                span {
                    margin-left: 60px;
                    font-size: 16px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
        .related-blog-post {
            @include flex(0 0 25%);
            max-width: 25%;
            width: 25%;
            @media #{$breakpoint-lg} {
                @include flex(0 0 35%);
                max-width: 35%;
                width: 35%;
            }
            @media #{$breakpoint-md} {
                @include flex(0 0 40%);
                max-width: 40%;
                width: 40%;
            }
            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                max-width: 100%;
                width: 100%;
            }
            .single-related-blog-post {
                position: relative;
                z-index: 1;
                overflow: hidden;
                @include trans-duration(500ms);
                img {
                    width: 100%;
                    @include trans-duration(500ms);
                }
                a {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    @include display-flex(flex);
                    @include align-items(center);
                    @include justify-content-between;
                    padding: 5px 50px;
                    h5 {
                        color: $white-color;
                        text-align: center;
                        font-size: 18px;
                        margin-bottom: 0;
                        line-height: 1.5;
                    }
                }
                &:hover,
                &:focus {
                    img {
                        @include transform(scale(1.2));
                    }
                }
            }
        }
    }
}